body {
  display: flex;
  font-family: "Poppins";
}
:root {
  --rust: #b56357;
  --mint: #b4dbc0;
  --slate: #eae3ea;
  --sea-foam: #a7b3a5;
}
.new-task {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 2vh 2vw;
  border-radius: 20px;
  min-height: 70vh;
  padding-bottom: 30px;
}

.new-task__text {
  font-weight: 600;
  font-size: 22px;
  color: black;
  padding: 30px;
  text-align: center;
}

.add-btn {
  font-weight: 400;
  background-color: var(--mint);
  color: #000;
  align-self: center;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 7px;
}
.add-btn:hover {
  background-color: var(--rust);
  border-color: var(--sea-foam);
  color: #fff;
}
.add-btn:active {
  background-color: var(--rust) !important;
  color: #fff !important;
}

.task-modal-content {
  background-color: var(--slate);
}
.task-modal__title {
  color: var(--rust);
  font-weight: 400;
}
